/* Search Layout */
/* Prefix=tag */
/* o=outer, h=header, b=body, c=content, t=table, x=text */
/* l=logo, btn=button */
/* a=href */
#tagc {
    margin: 0 auto;
    box-shadow: 0 2px 5px 2px #ccc;
    border: 1px solid #aaa;
    border-top: 0px;
    max-width: 1200px;
    background-color: #fff;
}
#tagb {
    padding: 15px;
}
#subnavc {
    margin-bottom: 10px;
}
.subnava {
    margin-right: 20px;
}
#tags_table {
    margin-left: 10px;
}
#tags_table th {
    padding: 5px;
}
#tags_table td {
    padding: 5px;
}
.tags_row {
    margin-bottom: 10px;
    /*background-color: #E1EBF2;
    border: 1px solid #C9D7F1;*/
    border: 1px solid #C9D7F1;
}
.tags_row_alt {
    margin-bottom: 10px;
    /*background-color: #ECF3F7;
    border: 1px solid #C9D7F1;*/
    border: 1px solid #C9D7F1;
}
.tags_row:hover, .tags_row_alt:hover {
    border: 1px solid #C9D7F1;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background: #ffffff url('../images/form_bg.jpg') top left repeat-x;
}
.tags_tag_txt {
    
}
#tags_upload_div {
    display: none;
}